{%extends '_layout' %}

{% block main %} 
       <main role="main" class="inner cover">
        
        {% for entry in craft.entries.section('blog').limit(1).all() %}

        <div class="blog-content">
            <a href="{{ entry.url }}">
              <h1> {{ entry.title}} </h1>
            </a>

            <h2> {{ entry.blogIntroduction }} </h2>

            {{ entry.blogBody }}

            <a href="#"> {{ entry.author }} </a>

            <span>
                {{ entry.postDate | date('M d, Y') }} in 
              {% for category in entry.category %} 
                   <a href="/categories/{{category.slug}}"> {{ category }} </a>
                {% endfor %} 
            </span>
            </div>


              {% for block in entry.bloggingTextMatrix %}
//How to get the matrix post to appear here? 

        {# <a href="{{ entry.url }}">
            {{ block.text }}
        </a> #}
        
          {% endfor %}
        {% endfor %}

    </main>

{% endblock %}
