
{% extends '_layout' %} 

{% block main %} 

       <main role="main" class="inner cover">
        
        {# {% for entry in craft.entries.section('blog').limit(1).all() %}

        <div class="blog-content">

            <a href="{{ entry.url }}">
              <h1> {{ entry.title}} </h1>
            </a>

            <h2> {{ entry.blogIntroduction }} </h2>

            <p>{{ entry.blogBody }} </p>
             
            <a href="#"> {{ entry.author }} </a>

            <span>
                {{ entry.postDate | date('M d, Y') }} in 
                    {% for category in entry.category %} 
                      <a href="/categories/{{category.slug}}"> {{ category }} </a>
                    {% endfor %} 
            </span>

        </div>
        {% endfor %} #}

        {% for entry in craft.entries.section('matrixBlogPosts').limit(10).all %}

          {{entry.title}}

          {{entry.text}}

          {{ entry.bloggingTextMatrix.text }}

        {% endfor %}

        {% for block in entry.matrixBlogPosts.all() %}

          {% if block.type == "title" %}
            <h3>{{ block.title }}</h3>
          {% endif %}

          {% if block.type == "image" %}
            {{ block.image }}
          {% endif %} 
        
        {% endfor %} 

    </main>


{% endblock %}
