
{% extends '_layout' %} 

{% block main %} 
    <main role="main" class="inner cover">
        
        {% for entry in craft.entries.section('blog').limit(10).all() %}
            <a href="{{ entry.url }}">
              <h1> {{ entry.title}} </h1>
            </a>

            <h2> {{ entry.blogIntroduction }} </h2>

            {{ entry.blogBody }}

            <a href="#"> {{ entry.author }} </a>

            <p>
                {{ entry.postDate | date('M d, Y') }} in 
            {# {{entry.category}} #}
              {% for category in entry.category %} 
                   <a href="/categories/{{category.slug}}"> {{ category }} </a>
                {% endfor %} 
            </p>
        {% endfor %}

    </main>



      {% endblock %}
