
{% extends '_layout' %} 

{% block main %} 
  <main role="main" class="inner cover">
        {# <h1 class="cover-heading">The Lamp Post Listener</h1>
        <p class="lead">Journey Through CS Lewis' Chronicles of Narnia</p>

        
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Recent Episodes</a> #}

          {% for entry in craft.entries.section('blog').limit(10).all() %}
          <a href="{{ entry.url }}"></a>

          <h1> {{ entry.title}} </h1>

          {{ entry.blogIntroduction }}

          {{ entry.blogBody }}

          {{ entry.author }}

          {{ entry.postDate | date('M d, Y')}}

          {% endfor %}

          
     
      </main>



      {% endblock %}
